# Prerequisites
*.d





### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio
.vscode

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.pio/libdeps/.DS_Store
lib/.DS_Store
.pio/build/nodemcuv2/.sconsign39.dblite
.pio/build/project.checksum
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/extensions.json
.vscode/c_cpp_properties.json
.pio/build/project.checksum
.pio/build/nodemcuv2/.sconsign39.dblite
.pio/build/project.checksum
.pio/build/project.checksum
.pio/build/project.checksum
.pio/libdeps/nodemcuv2.zip
.pio/build/project.checksum
.DS_Store
.vscode/c_cpp_properties.json
.pio/build/project.checksum
